<div [ngClass]="{'background-image': showButtons }">
  <mat-toolbar color="primary" class="app-header mat-elevation-z8">
    <div>
      {{ title }}
    </div>
  </mat-toolbar>
  <div class="action-buttons" *ngIf = "showButtons">
    <div>
      <button mat-raised-button color = "primary" class="button-width" (click) = "addViewProductRoute()">Add/View Products</button>
    </div>
    <div style="margin-top: 20px;">
      <button mat-raised-button color = "primary" class="button-width" (click) = "generateInvoiceRoute()">Generate Invoice</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
